<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet preload" as="style" href="/normalize.css">
    <link rel="stylesheet preload" as="style" href="/main.css">
    <script src="/irmin.js"></script>
    <script src="/main.js"></script>
    <link rel="shortcut icon preload" as="image" href="/favicon.png" type="image/x-icon">
    

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{meta.description}}">
    <meta charset="utf-8">
    <title>{{meta.title}}</title>
</head>
<body>
 
    {{{ body }}}

</body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script rel="dns-prefetch" src="https://www.gstatic.com/firebasejs/7.9.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script rel="dns-prefetch" src="https://www.gstatic.com/firebasejs/7.9.2/firebase-analytics.js"></script>

<script>
// Your web app's Firebase configuration
var firebaseConfig = {
    apiKey: "AIzaSyCRATNYrTxt-Mj1p0fK8eoqYAXO72flrMw",
    authDomain: "wiiki-0.firebaseapp.com",
    databaseURL: "https://wiiki-0.firebaseio.com",
    projectId: "wiiki-0",
    storageBucket: "wiiki-0.appspot.com",
    messagingSenderId: "629661857575",
    appId: "1:629661857575:web:688ad5de3da6f954b55b02",
    maeasurementId: "G-1KDGBCBEC7"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
firebase.analytics();
</script>
</html>
