@font-face {
    font-family: 'Fira Mono';
    src: url('firamono.otf');
}

body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Cambria', 'Baskerville', serif;
    color: #333;
}

hr {
    margin: 1rem 0;
}

header {
    margin-top: 2%;
    margin-bottom: 3%;
    display: flex;
}

.actions {
    margin-top: 1rem;
    float: right;
}

.edit-inputs {
    margin-right: 2rem;
    display: inline-flex;
    align-items: center;
}

.edit-inputs > input {
    height: 1rem;
}

#editablecontent {
    width: 100%;
    height: 24rem;
    padding: 1rem;
}

.content {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}

.logo-container {
    margin-right: 2%;
    margin-bottom: 0%;
}

.logo {
    display: inline-block;
    max-height: 150px;
    min-width: 150px;
    width: auto;
    height: auto;
}

.title {
    align-self: center;
    flex-basis: 60%;
}

.search {
    align-self: center;
}

.result {
    padding-bottom: 2rem;
}

.result > p {
    margin-top: 0.75rem;
}

.result-header {
    display: flex;
}

.result-header > h3 {
    margin: 0;
}

h3 > a {
    text-decoration: none;
    font-size: 1.5rem;
}

.data {
    flex-grow:  100;
}

.data > span {
    margin-left: 2em;
    float: right;
    color: gray;
}

.date {
    display: inline-block;
    align-self: center;
}

.query-reminder {
    margin: auto;
    align-self: center;
    text-align: center;
}

.query-reminder > h1 {
    margin: 4% 0;
    font-size: 2.5em;
}

pre {
    font-size: 90%;
    line-height: 1.2em;
    width: auto;
    overflow: auto;
    padding: 1em 1em;
    background-color: #49483E;
    color: #F8F8F0;
    border-radius: 5px;
} 

code {
    font-size: 90%;
    line-height: 1.2em;
    display: inline; 
    font-family: 'Fira Mono'
}

p, li, ul, a {
    margin-bottom: 0.3em;
    font-size: 1.3rem;
    overflow-wrap: break-word;
}

blockquote {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Mono', sans-serif;
}
 
h1 {
    font-size: 2em;
}

.result > p {
    font-size: 1.1rem;
    color: rgb(75, 75, 75)
}

.open-source {
    display: block;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 100%;
    padding-top: 1rem;
}

.gitlab-logo {
    max-height: 2em;
    max-width: 32px;
}

@media (max-width: 768px) {
    body {
        margin: 0 5%;
    }

    p, li, a {
        font-size: 16px;
    }

    ul {
        padding-left: 7%;
    }
    
    .title {
        flex-basis: 100%;
        text-align: center;
        font-size: 1.5rem;
    }

    .date {
        display: inline-block;
        align-self: flex-start;
    }

    .tertiary {
        height: fit-content;
    }


    h3 > a {
        font-size: 1rem;
        word-break: break-all;
    }

    .data {
        display: none;
    }

    article > :not(h1, h2, h3) {
        font-size: rem;
    }

    .logo {
        max-width: 100px;
        padding-right: 2%;
        width: auto;
        height: auto;
        padding-top: 15%;
    }

    .search {
        margin: 3% auto 1% auto;
        width: 100%;
    }

    .search > input {
        margin-right: .5rem;
    }

    .logo {
        display: none;
    }

    .content {
        margin-bottom: 1em;
    }
}