<header>
    <a href="/" class="logo-container">
        <img src="/logo.png" alt="logo" class="logo" />
    </a>
    <div class="content">

        <h1 class="title">{{ title }}</h1>

        <div class="tertiary">
            <a href="http://wiki.c2.com/?{{ rawTitle }}" rel="nofollow">
                <span>view on wiki.c2.com</span>
            </a>
        </div>
        <a href="javascript:void(0)" onclick="toggle(['fork'])">Fork</a>
        <a href="javascript:void(0)" onclick="toggle(['article', 'edit'])">Edit</a>
        <a href="javascript:void(0)" onclick="toggle(['insert'])">New</a>

    </div>
</header>

<form id="fork" style="display: none;">
    <input name="namespace" type="text" placeholder="Namespace" />
    <input name="secret" type="text" placeholder="Password" />
    <button>OK</button>
    <button class="editableaction" onclick="toggle(['fork'])">Cancel</button>
</form>

<form id="edit" class="edit-form" style="display: none;">
    <textarea name="content" id="editablecontent">{{ markup }}</textarea>
    <div id="actions" class="actions">
        <span class="edit-inputs">
            <input name="secret" type="text" placeholder="Password" />
        </span>
        <span class="edit-buttons">
            <button class="editableaction">Save</button>
            <button class="editableaction" onclick="toggle(['edit', 'article'])">Cancel</button>
        </span>
    </div>
</form>
</form>

<form id="insert" style="display: none;">
        <span class="edit-inputs">
            <input name="namespace" type="text" placeholder="Namespace" />
            <span style="font-size: 3rem; margin: 0 .25rem; font-family: 'Fira Mono';">/</span>
            <input name="title" type="text" placeholder="Title" />
        </span>
        <span class="edit-buttons">
            <button>Save</button>
            <button onclick="toggle(['insert'])">Cancel</button>
        </span>
</form>

{{#if derivatives}}
    <aside>
    <h2>Found some derivative work<h2>
    {{#each derivatives}}
        <a href="{{url}}">{{name}}</a> <button>Pull</button>
    {{/each}}
    </aside>
{{/if}}

<article id="article">
    {{{ content }}}
</article>


</form>

<footer>
    <a href="https://gitlab.com/kluvin/wiiki" class="open-source">
    I am open-source
    </a>
    <object type="image/svg+xml" data="/gitlab-icon.svg" class="gitlab-logo"></object>
</footer>